<div class="tabs">
	<div class="tabs__tab" routerLinkActive="linkActive">
		<div class="tabs__tab" [routerLink]="[ '/home' ]">
			<ion-icon name="home-outline"></ion-icon>
			
		</div>
	</div>
	<div class="tabs__tab" routerLinkActive="linkActive">
		<div class="tabs__tab" [routerLink]="[ '/cart' ]">
			<div class="tabs__tab__cart" *ngIf="numProd>=0">
				{{numProd}}
			</div>
			<ion-icon name="cart-outline"></ion-icon>
			
		</div>
	</div>
	<div class="tabs__tab" routerLinkActive="linkActive">
		<div class="tabs__tab" >
			<ion-icon name="heart-outline"></ion-icon>
			
		</div>
	</div>
	<div class="tabs__tab" routerLinkActive="linkActive">
		<div class="tabs__tab" [routerLink]="[ '/perfil' ]">
			<ion-icon name="person-outline"></ion-icon>
			
		</div>
	</div>
</div>