.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: white;
    &__noproductos {
        width: 100%;
        height: 100%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        ion-icon {
            font-size: 70px;
        }
    }
    &__header {
        width: 100%;
        height: 58px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 16px 16px 16px;
        position: relative;
        font-size: 20px;
        /*  background-image: url("../../../assets/payment.png");
        background-repeat: no-repeat, repeat;
        background-size: cover; */
        z-index: 999999;
        &__back {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__search {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            width: 90%;
            &__input {
                background-color: var(--ion-color-light);
                border-radius: 20px;
                margin: 0;
                font-size: 14px;
                height: 25px;
                margin-right: 2%;
                padding-left: 10px !important;
            }
        }
    }
    &__address {
        width: 100%;
        height: 125px;
        display: flex;
        position: relative;
        flex-direction: column;
        &__title {
            padding: 16px;
            background: var(--ion-color-primary);
        }
        &__info {
            width: 100%;
            display: flex;
            height: 75px;
            &__img {
                width: 20%;
                display: flex;
                align-items: center;
                img {
                    width: 70px;
                }
            }
            &__data {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 16px;
                font-size: 12px;
            }
        }
    }
    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        position: relative;
        &__title {
            padding: 16px;
            background: var(--ion-color-primary);
        }
        &__item {
            width: 100%;
            height: 70px;
            border-bottom: 1px solid #dddddd;
            display: flex;
            align-items: center;
            padding: 10px;
            font-size: 12px;
            &__img {
                width: 10%;
                height: 100%;
                display: flex;
                align-items: center;
                img {
                    width: 58px;
                    height: 58px;
                    object-fit: contain;
                }
            }
            &__data {
                display: flex;
                width: 90%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                &__content {
                    margin-left: 5px;
                    width: 70%;
                    &__name {
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        &__color {
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            margin-left: 10px;
                        }
                    }
                    &__cat {
                        color: #a8a8a8;
                    }
                }
                &__value {
                    width: 20%;
                }
                &__option {
                    height: 100%;
                    text-align: center;
                    width: 10%;
                    font-size: 14px;
                    color: var(--ion-color-danger);
                }
            }
        }
    }
    &__discount {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        position: relative;
        padding: 16px;
        &__title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 2%;
            &__text {
                display: flex;
                flex-direction: column;
            }
            &__option {
                color: var(--ion-color-danger);
            }
        }
        &__item {
            width: 100%;
            height: 70px;
            border-bottom: 1px solid #dddddd;
            display: flex;
            align-items: center;
            padding: 10px;
            font-size: 12px;
            background: white;
        }
    }
    &__gifts {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
        position: relative;
        &__title {
            padding: 16px;
            background: var(--ion-color-primary);
        }
        &__item {
            width: 100%;
            height: 70px;
            background: white;
            border-bottom: 1px solid #dddddd;
            display: flex;
            align-items: center;
            padding: 10px;
            font-size: 12px;
        }
    }
    &__btn {
        margin-top: 10px;
        margin-bottom: 60px;
        background: white;
    }
    &__title {
        width: 100%;
        padding: 16px;
        background: var(--ion-color-primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        &__values {
            display: flex;
            align-items: center;
            font-size: 10px;
            i {
                font-size: 10px;
            }
        }
        &__sub {
            font-size: 8px;
        }
    }
    &__footer {
        height: 55px;
        background: white;
    }
    &__calificacion {
        padding: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &__star {
            color: black;
            > ion-icon {
                font-size: 36px;
            }
        }
        &__description {
            width: 100%;
        }
    }
}

.descuento {
    text-decoration: line-through;
    color: red;
}

ion-content {
    font-family: "Montserrat", sans-serif;
    --background: white;
}

.content-calificar {
    text-align: center;
    margin: 2% 0;
}

.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.color {
    color: var(--ion-color-primary);
}


.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
    display: none;
  }
  .custom-file-input::before {
    content: 'Envianos el comprobante';
    display: inline-block;
    background: var(--ion-color-primary);
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    text-transform: uppercase;
    font-size: 12pt;
    width: 93%;
    text-align: center;
    margin-left: 5px;

  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }