.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	min-height: 100%;
	width: 100%;
	border: 1px black solid;
	&__close {
		position: relative;
		color: black;
		display: flex;
		justify-content: flex-end;
		top: -3vh;
		right: -3vh;
		font-size: 4vh;
	}
	&__info {
		background: white;
		display: flex;
		flex-direction: column;
		width: 80%;
		height: 35vh;
		z-index: 100;
		box-shadow: 0 0px 5px 0px var(--ion-color-medium);
		padding: 3%;
		&__agregar {
			color: black;
			> ion-item {
				--padding-end: 0px;
				--inner-padding-end: 0px;
				--highlight-color-valid: var(--ion-color-primary);
			}
		}
		&__content {
			display: flex;
			flex-direction: column;
			position: relative;
			justify-content: center;
			top: -3vh;
			&__title {
				color: black;
				font-weight: bold;
				text-align: center;
			}
			&__text {
				overflow: scroll;
				height: 18vh;
			}
		}
	}
}
