<ion-content>
	<div class="container" *ngIf="producto">
		<div class="container__header">
			<img [src]="producto['url']" *ngIf="!producto.fotos">
			<ion-slides style="--bullet-background: black;" pager="true" [options]="slideOpts">
				<ion-slide *ngFor="let url of producto.urls">
					<img [src]="url">
				</ion-slide>
			</ion-slides>

			<div class="container__header__icon">
				<ion-icon name="chevron-back-outline" color="dark" (click)="back()"></ion-icon>
				<div class="container__header__ticked" *ngIf="producto.descuento > 0">
					<div class="container__header__ticked__triangulo"></div>
					<div class="container__header__icon__desc">
						{{producto.descuento}}% descuento
					</div>
				</div>
			</div>
		</div>
		<div class="container__details">
			<div class="container__details__title">
				<!-- <h5>Detalles</h5> -->
				<!-- <ion-icon name="heart-outline"></ion-icon> -->
			</div>
			<div class="container__details__info">
				<div class="container__details__info__title">
					{{producto.nombre | uppercase}}
				</div>
				<div class="container__details__info__text">
					{{producto.descripcion}}
				</div>
				<div class="container__details__info__arrays" *ngIf="producto.ingredientes">
					<h6>Ingredientes</h6>
					{{producto.ingredientes}}
					<!-- <div class="container__details__info__arrays__value">
						<p *ngFor="let ingrediente of producto.ingredientes">{{ingrediente}}</p>
					</div> -->
				</div>
				<div class="container__details__info__precio">
					${{producto.precio | number}}
				</div>
				<div class="container__details__info__arrays" *ngIf="producto.colores">
					<h6>Colores</h6>
					<div class="container__details__info__arrays__value">
						<div class="container__details__info__arrays__color" [style.background]="color"
							*ngFor="let color of producto.colores" [ngClass]="{'container__details__info__arrays__colorSelected ': colorSelected != '' && colorSelected == color}" (click)="selectColor(color)"></div>
					</div>
				</div>
			</div>
			<div class="container__details__cantidad">
				<!-- <div class="container__details__cantidad__title">
					<h5>Cantidad</h5>
				</div> -->
				<div class="container__details__cantidad__inputs">
					<ion-icon name="add-outline" (click)="adicionar()"></ion-icon>
					<ion-input [(ngModel)]="cantidad" [disabled]="true" type="number" class="input"></ion-input>
					<ion-icon name="remove-outline" (click)="restar()"></ion-icon>
				</div>
			</div>
			<div class="container__details__buttom">
				<ion-button shape="round" (click)="addCar()">Adicionar al carrito</ion-button>
			</div>
		</div>
	</div>
</ion-content>