
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &__header {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: space-between;
        padding: 20px 16px 0px 16px;
        position: relative;
        font-size: 20px;

        &__back {
            display: flex;
            align-items: center;
        }

        &__search {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            width: 90%;

            &__input {
                background-color: var(--ion-color-light);
                border-radius: 20px;
                margin: 0;
                font-size: 14px;
                height: 25px;
                margin-right: 2%;
                padding-left: 10px !important;
            }
        }
    }

    &__img {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        height: 300px;

        &__nombre {
            position: absolute;
            bottom: 30px;
            left: 0px;
            font-weight: bolder;
            background-color: rgba($color: #ffffff, $alpha: 0.8);
            width: 70%;
            height: 50px;
            display: flex;
            align-items: center;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            padding-left: 10px;
            justify-content: center;
            font-size: 25px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }

        img {
            width: 100%;
        }
    }

    &__categories {
        width: 100%;
        display: flex;
        height: 60px;
        margin-top: 20px;
        position: relative;

        &__category {
            width: 95%;
            display: flex;
            overflow: scroll;
            padding-bottom: 3px;
            margin-left: 5px;

            &__option {
                background-color: rgba($color: #ffffff, $alpha: 0.4);
                padding: 7px 20px;
                margin: 0px 5px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                font-weight: bolder;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                height: 80%;
            }
        }
    }

    &__products {
        width: 100%;
        height: auto;
        // padding: 0px 16px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 63px;

        &__product {
            &__title {
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 0% 5%;
            }

            &__list {
                width: 100%;
                overflow-x: unset;
                overflow-y: scroll;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                &__item {
                    background-color: white;
                    width: 43%;
                    height: 240px;
                    border-radius: 20px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    padding: 10px 9px;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

                    &__like {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;

                        &__container {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba($color: #c5c7c6, $alpha: 0.2);
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            font-size: 12px;
                            //color: #f6d7dc;
                            color: #c5c7c6;
                        }
                    }

                    &__img {
                        width: 100%;
                        height: 60%;
                        display: flex;
                        justify-content: center;
                        margin-top: 5px;
                        margin-bottom: 5px;

                        img {
                            width: 80%;
                        }
                    }

                    &__title {
                        font-size: 12px;
                        font-weight: bold;
                    }

                    &__price {
                        font-size: 14px;
                        font-weight: bold;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}

ion-content {
    --ion-background-color: linear-gradient(to bottom, #f7d8dd, #f4d2d9, #f0cdd5, #edc7d1, #e9c2ce);
}

.subselected {
    background-color: white !important;
}

.tarjeta {
    width: 100%;
}