<ion-content [fullscreen]="true">
	<div class="container">
		<div class="container__header">
			<div class="container__header__back" (click)="irAtras()">
				<ion-icon name="chevron-back-outline"></ion-icon>
			</div>
			<div class="container__header__search">
				<ion-icon name="search-outline" (click)="search = !search"></ion-icon>
				<ion-input #buscarText class="container__header__search__input animate__animated animate__fadeIn"
					placeholder="Buscar..." *ngIf="search" (keyup)="buscar(buscarText.value)"></ion-input>
			</div>
		</div>

		<div class="container__img" *ngIf="category">
			<img src="{{category.foto}}" alt="">
			<div class="container__img__nombre">
				{{category.nombre}}
			</div>
		</div>
		<div class="container__categories" *ngIf="category">
			<div class="container__categories__category">
				<div class="container__categories__category__option" [ngClass]="{'subselected': categorySel=='all'}"
					(click)="selectCategory('all')">
					TODAS
				</div>

				<div class="container__categories__category__option" *ngFor="let cat of productos"
					[ngClass]="{'subselected': categorySel!='all' && cat.nombre == categorySel.nombre}"
					(click)="selectCategory(cat)">
					{{cat.nombre}}
				</div>
			</div>
		</div>
		<div class="container__products" *ngIf="category">
			<div class="container__products__product" *ngFor="let producto of dataShow">
				<div class="container__products__product__title" *ngIf="producto.productos.length > 0">
					{{producto.nombre}}
				</div>

				<div class="container__products__product__list" *ngIf="producto.productos.length > 0">
					<div class="container__products__product__list__item" *ngFor="let prod of producto.productos">
						<div class="container__products__product__list__item__like">
							<div class="container__products__product__list__item__like__container">
								<i class="fa fa-heart" aria-hidden="true"></i>
							</div>
						</div>

						<div class="container__products__product__list__item__img" *ngIf="!prod.fotos">
							<img src="{{prod.url}}" alt="" (click)="goToDetail(prod)">
						</div>

						<div class="container__products__product__list__item__img" *ngIf="prod.fotos">
							<img src="{{prod.urls[0]}}" alt="" (click)="goToDetail(prod)">
						</div>

						<div class="container__products__product__list__item__title">
							{{prod.nombre}}
						</div>

						<div class="container__products__product__list__item__price">
							{{prod.precio | currency: 'USD':true:'2.0'}}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</ion-content>

<app-tags></app-tags>