.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    &__footer {
        height: 55px;
    }
    &__noproductos{
        width: 100%;
        height: 100%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        ion-icon{
            font-size: 70px;
        }
    }
    &__categorias {
        position: relative;
        width: 100%;
        height: 100%;
        &__title {
            font-size: 3.8vh;
            font-weight: bold;
            padding: 0 4%;
            margin-bottom: 2%;
            &__text {
                background: white;
                width: fit-content;
                padding: 1% 5%;
                position: relative;
                left: -18px;
                border-top-right-radius: 10px;
                opacity: 0.8;
                border-bottom-right-radius: 10px;
            }
        }
    }
    &__subcategorias {
        &__title {
            font-size: 2.5vh;
            font-weight: bold;
            padding: 0 4%;
            margin-bottom: 2%;
        }
    }
}
