<ion-content>
	<div class="container">
		<div *ngFor="let categoria of dataShow">
			<div class="container__categorias" *ngIf="categoria.tiene">
				<div class="container__categorias__title animate__animated animate__backInUp">
					<div class="container__categorias__title__text">
						{{categoria.nombre}}
					</div>
				</div>
				<div *ngFor="let subcategoria of categoria.subcategorias">
					<div class="container__subcategorias" *ngIf="subcategoria.productos.length > 0">
						<div class="container__subcategorias__title animate__animated animate__backInUp">
							{{subcategoria.nombre}}
						</div>
						<div class="container__cards">
							<app-tarjetas [array]="subcategoria.productos"></app-tarjetas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>

<app-tags></app-tags>