<ion-content [fullscreen]="true">
  <div class="container" *ngIf="productsGrl.length > 0">
    <div class="container__header">
			<div class="container__header__back" (click)="irAtras()">
				<ion-icon name="chevron-back-outline"></ion-icon>
			</div>
    </div>
    <div class="container__address">
      <div class="container__address__title">
        <i class="fa fa-map-marker" aria-hidden="true"></i> Entregar en:
      </div>
      <div class="container__address__info">
        <div class="container__address__info__img">
          <img src="../../../assets/map.png" alt="">
        </div>
        <div class="container__address__info__data" *ngIf="user" (click)="showModal = true">
          {{user.direccion}} <i class="fa fa-arrow-right" aria-hidden="true"></i>
          
        </div>
      </div>
        
    </div>
    <div class="container__list">
      <div class="container__list__title">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Productos en esta compra:
      </div>
      <div class="container__list__item" *ngFor="let product of products; let i = index">
        <div class="container__list__item__img">
          <img *ngIf="product.producto.urls" src="{{product.producto.urls[0]}}" alt="">
        </div>
        <div class="container__list__item__data">
          <div class="container__list__item__data__content">
            <div class="container__list__item__data__content__name">
              {{product.producto.nombre}} 
            </div>
            <div class="container__list__item__data__content__cat">
              {{product.producto.nombreCategoria}} - {{product.producto.nombreSubcategoria}}
            </div>
            <div class="container__list__item__data__content__name">
              <i class="fa fa-times"></i> {{product.cantidad}} 
              <div class="container__list__item__data__content__name__color" [style.background]="product.color">
              </div>
            </div>
          </div>
          <div class="container__list__item__data__value">
            <div class="container__list__item__data__value__real" [ngClass]="{'descuento': (product.producto.descuento != '0')}">
              {{(product.producto.precio * product.cantidad)| currency: 'USD':true:'2.0'}}
            </div>
            <div class="container__list__item__data__value__disc">
              {{calcularDescuento(product) | currency: 'USD':true:'2.0'}}
            </div>
          </div>
          <div class="container__list__item__data__option" (click)="quitarProducto(i)">
            <i class="fa fa-times"></i>
          </div>
        </div>
      </div>
      <div class="container__discount">
        <div class="container__discount__title">
          <div class="container__discount__title__text">
            <div class="container__discount__title__text__content">
              <i class="fa fa-percent" aria-hidden="true"></i> Descuento a aplicar
            </div>
            <small>Conoce los descuentos que puedes aplicar a tu compra</small>
          </div>
          <div class="container__discount__title__option" (click)="showDescuentos= true">
            <small>Ver</small> 
          </div>
            
        </div>
        
      </div>
      <div class="container__gifts">
        <div class="container__gifts__title">
          <i class="fa fa-gift" aria-hidden="true"></i> Por tu compra te regalamos:
        </div>
        <div class="container__discount__item" *ngIf="obserquioSiempre">
          Dulce + Boleta
        </div>
        <div class="container__discount__item" *ngFor="let gift of obsequiosShow">
          {{gift.obsequio}}
        </div>
      </div>
      <div class="container__title" (click)="finalizarPedido()">
        <div class="container__title__values">Subtotal: {{calcularPago()| currency: 'USD':true:'2.0'}}</div>
        
        <div class="container__title__values" *ngIf="domicilio()==0">Valor Domicilio: <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>Calculando Domicilio...</div>
        <div class="container__title__values" *ngIf="domicilio()!=0">Valor Domicilio: {{domicilio()| currency: 'USD':true:'2.0'}}</div>
        
        
        Total a pagar: {{calcularPago()+ domicilio()| currency: 'USD':true:'2.0'}}
        <div class="container__title__sub">Toca para realizar el pedido</div>
      </div>
      <div class="container__footer">&nbsp;</div>
    </div>
  </div>
  <div class="container" *ngIf="productsGrl.length == 0">
    <div class="container__header">
			<div class="container__header__back" (click)="irAtras()">
				<ion-icon name="chevron-back-outline"></ion-icon>
			</div>
    </div>
    <div class="container__noproductos">
      <ion-icon name="cart-outline"></ion-icon>      
      No tienes Productos en el Carrito
    </div>
    
  </div>
  <app-direcciones class="modal animate__animated animate__fadeIn animate__faster" [showAdd]="false" [usuario]="user" (showModal)="closeModal($event)" (direccionSelected)="selecAdress($event)" *ngIf="showModal"></app-direcciones>
  <app-descuentos class="modal animate__animated animate__fadeIn animate__faster" *ngIf="showDescuentos" [discountProd]="discountProd" [decuentoAplicado]="decuentoAplicado" [total]="total" (descuentoSelected)="seleccionarDescuento($event)" (showModal)="closeDescuento($event)" ></app-descuentos>
  <app-confirmacion class="modal animate__animated animate__fadeIn animate__faster" [formaspago]="formapago" *ngIf="showFormaPago" (showModal)="closeModalFormaPAgo($event)"></app-confirmacion>
</ion-content>
<app-tags></app-tags>