<div class="modal">
	<div class="modal__info">
		<div class="modal__close" (click)="show()">
			<ion-icon name="close-circle-outline"></ion-icon>
		</div>
		<div class="modal__info__content">
			<div class="modal__info__content__title">
				Descuentos disponibles
			</div>
			<div class="container__discount__item" *ngIf="discountProd" (click)="seleccionarDescuento('prod')">
          <i class="fa fa-check" aria-hidden="true" *ngIf="decuentoAplicado == 'prod'"></i>&nbsp; Descuento por producto
        </div>
        <div class="container__discount__item" *ngIf="discount!=0" (click)="seleccionarDescuento('store')">
          <i class="fa fa-check" aria-hidden="true" *ngIf="decuentoAplicado == 'store'"></i>&nbsp; Descuento de la tienda, -{{discount}}%
      </div>
		</div>
	</div>
</div>