.container {
    height: 100%;
    width: 100%;
    padding: 4%;
    &__header {
        position: relative;
        margin-bottom: 5%;
        height: 6%;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border-bottom: 2px var(--ion-color-medium) solid;
        color: var(--ion-color-medium);
        padding: 2% 0px;
    }
    &__items {
        padding-bottom: 18%;
        
        &__item{
            padding: 10px;
            background: white;
            margin-bottom: 10px;
            display: flex;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            flex-direction: column;
            &__fechahora{
                width: 100%;
                display: flex;
                font-size: 12px;
                margin: 5px 0px;
            }
            &__estado{
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
            &__numtotal{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        

    }
}

app-tags {
    z-index: 1;
}
