<ng-container *ngIf="pedidos">
	<ion-content>
		<div class="container">
			<div class="container__header">
				Pedidos
			</div>
			<div class="container__items">
				<ion-item [detail]="true" *ngFor="let pedido of pedidos" (click)="redirectTo(pedido)">
					<ion-label>{{pedido.fecha}}</ion-label>
					<div>|</div>
					<ion-label>{{pedido.hora}}</ion-label>
					<div>|</div>
					<ion-badge color="warning" *ngIf="pedido.estado == 1">Pendiente</ion-badge>
					<ion-badge color="success" *ngIf="pedido.estado == 2">Entregado</ion-badge>
					<span>numero de productos: {{pedido.productos.length}} </span>
				</ion-item>
			</div>
		</div>
	</ion-content>
</ng-container>


<app-tags></app-tags>