<div class="cards" [class.scroll-x]="!wrap">
	<div class="cards__card animate__animated animate__backInUp" [class.card]="!wrap" *ngFor="let producto of array">
		<div class="cards__card__title">
			<app-favorito [producto]="producto"></app-favorito>
			<img [src]="producto['url']" alt=""  *ngIf="!producto?.urls">
			<img [src]="producto.urls[0]" alt="" *ngIf="producto?.urls">
		</div>
		<div class="cards__card__info" (click)="goToDetail(producto)">
			<div class="cards__card__info__header">
				<h6>{{producto.nombre}}</h6>
			</div>
			<div class="cards__card__info__price">
				${{producto.precio|number}}
			</div>
		</div>
	</div>
</div>